<button async onClick() {await save()
}>x</button>

<button async onClick<T extends Event>(event: T) {await save(event)
}>x</button>

<custom-tag async (value) {await save(value)
}/>

<custom-tag async(value) {await save(value)
}/>
