<div class="string blue"/>
<div class=["blue", "string_list"]/>

<div class=["templatestring", `${blue}`]/>
<div class=[`${blue}`, "templatestring_list"]/>

<div class=["dynamic", blue]/>
<div class=[blue, "dynamic_list"]/>

<div class=["red", blue, "green", yellow, "mixed_list"]/>
<div class=[
  red,
  yellow,
  (() => "blue")(),
  orange,
  ...colorList.map((item) => item.color),
  green,
  "long_list",
]/>
<div class=[
  "long_item",
  ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]
    .filter((color) => color.indexOf("e") >= 0)
    .map((color) => color.toUpperCase()),
]/>

<div class=["red", "multiple"] class="blue"/>
<div class="multiple red" class=["blue"]/>

<div class=[
  "multiple",
  {
    blue: maybeBlue,
  },
]/>
