<div class=`${"string"} ${"blue"}`/>
<div class=["string_list", "blue"]/>

<div class=["templatestring", `${blue}`]/>
<div class=["templatestring_list", `${blue}`]/>

<div class=["dynamic", blue]/>
<div class=["dynamic_list", blue]/>

<div class=["mixed_list", "red", blue, "green", yellow]/>
<div class=[
  "long_list",
  red,
  yellow,
  (() => "blue")(),
  orange,
  ...colorList.map((item) => item.color),
  green,
]/>
<div class=[
  "long_item",
  ["red", "orange", "yellow", "green", "blue", "indigo", "violet"]
    .filter((color) => color.indexOf("e") >= 0)
    .map((color) => color.toUpperCase()),
]/>

<div class=["multiple", "red"] class="blue"/>
<div class=`${"multiple"} ${"red"}` class=["blue"]/>

<div class=[
  "multiple",
  {
    blue: maybeBlue,
  },
]/>
