<div.card // Layout wrapper
>
  Content
</div>

<nav /* primary */ class="links"><a href="/">Home</a></nav>

<input
  hidden // Revealed by the toggle below
  type="text"
>

<ul /* Filled in by the client */ class="results"/>

<form
  action="/search",
  // Submitted by the enhanced input
  method="get"
>
  Search
</form>
