<div style={
  "background-color": imageCreative.contentBackgroundColor,
}>
  <div.test style={
    "background-color": imageCreative.contentBackgroundColor,
  }>
    <div.test style={
      "background-color": imageCreative.contentBackgroundColor,
    }>
      <div style={
        "background-color": imageCreative.contentBackgroundColor,
      }/>
    </div>
  </div>
</div>
