div.card // Layout wrapper
  -- Content

nav /* primary */ class="links"
  a href="/" -- Home

input
  ,hidden // Revealed by the toggle below
  ,type="text"

ul
  ,/* Filled in by the client */
  ,class="results"

form
  ,action="/search"
  // Submitted by the enhanced input
  ,method="get"
  -- Search
