p
  -- I want to use${" "}
  em -- emphasis
  -- ,${" "}
  strong -- strong text
  -- ${" "}, and${" "}
  sup -- super
  sup -- duper
  -- ${" "}
  sub -- subscripts
  -- ${" "}without a bunch of newlines.
