div.my-class [
  data-foo="foo"
  data-bar="bar"
  data-hello="hello"
  data-world="world"
  data-widget="my-really-awesome-weidget"
]
  div.my-class [
    data-foo="foo"
    data-bar="bar"
    data-hello="hello"
    data-world="world"
    data-widget="my-really-awesome-weidget"
  ]
    -- Hello World
