name: CI

on:
  pull_request:
    types: [opened, synchronize]
  push:
    branches: [main]

concurrency:
  group: "${{ github.workflow }}-${{ github.event_name == 'pull_request_target' && github.head_ref || github.ref }}"
  cancel-in-progress: true

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install node
        id: node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install packages (node@${{ steps.node.outputs.node-version }})
        run: npm ci
      - name: Run build
        run: npm run @ci:build
      - name: Run lint
        run: npm run @ci:lint
  test:
    runs-on: ${{ matrix.os }}
    name: "test: node ${{ matrix.node }} on ${{ matrix.os }}"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]
        node: [lts/*, lts/-1, lts/-2]
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Install node
        id: node
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node }}
      - name: Install packages (node@${{ steps.node.outputs.node-version }})
        run: npm ci
      - name: Run tests
        run: npm run @ci:test
      - name: Report coverage
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          slug: marko-js/prettier
  release:
    runs-on: ubuntu-latest
    needs: [build, test]
    if: "${{ github.repository_owner == 'marko-js' && github.event_name == 'push' }}"
    permissions:
      id-token: write
      contents: write
      pull-requests: write
    steps:
      - name: Checkout code
        uses: actions/checkout@v6
      - name: Setup node
        id: node
        uses: actions/setup-node@v6
        with:
          node-version: lts/*
      - name: Install packages (node@${{ steps.node.outputs.node-version }})
        run: npm ci
      - name: Run release
        id: changesets
        uses: changesets/action@v1
        with:
          version: npm run @ci:version
          publish: npm run @ci:release
          commit: "[ci] release"
          title: "[ci] release"
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
